@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --bg-color: rgba(30, 30, 30, 0.99);
  --accent-color: linear-gradient(90deg, #ad7d22 0%, #ffb74a 33%, #ad7d22 66%, #ffb74a 100%);
  --text-color: #ffffff;
  --fill-color: #ebb522;
  --border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: 'Cinzel', sans-serif;
  color: var(--text-color);
}


#goal-container {
  width: 600px;
  margin: 20px auto;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
#goal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 24px;
}

/* Barre principale */
#goal-bar {
  width: 100%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}

#wave1 {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 40px;
    height: 50px;
    left: 0%;
    top: -60%;
    transform: translateX(-50%);
    background: #eba941;
    border-radius: 50%;
    animation: wave 0.5s ease-in-out infinite alternate;
    transition: ease left 0.5s;

}
#wave2 {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 40px;
    height: 50px;
    left: 0%;
    top: -10%;
    transform: translateX(-50%);
    background: #eba941;
    border-radius: 50%;
    animation: wave 0.5s ease-in-out infinite alternate;
    animation-delay: -80ms;
    transition: ease left 0.5s;
}


@keyframes wave {
    0% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(-60%);
        
    }
}

#goal-fill {
  position: absolute;
  width: 0%;
  height: 100%;
  z-index: 2;
  background: var(--accent-color);
  background-size: 400% 400%;
  border-radius: var(--border-radius);
  transition: ease width 0.5s;

  /* animation: pulse 5s linear infinite; */
}

/* Animation douce de la barre */
@keyframes pulse {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}

/* Footer */
#goal-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  font-size: 22px;
}

/* Ajustement dynamique OBS */
@media (max-width: 480px) {
  #goal-container {
    width: 90%;
    padding: 10px;
  }
  
  #goal-header, #goal-footer {
    font-size: 14px;
  }
}
