@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --bg-color: rgba(30, 30, 30, 0.99);
  --accent-color: linear-gradient(90deg, #ad7d22 0%, #ffb74a 33%, #ad7d22 66%, #ffb74a 100%);
  --text-color: #ffffff;
  --fill-color: #ebb522;
  --border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: 'Cinzel', sans-serif;
  color: var(--text-color);
}

#goal-container {
  width: 600px;
  margin: 20px auto;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
#goal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 24px;
}

/* Barre principale */
#goal-bar {
  width: 100%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}

#goal-fill {
  width: 0%;
  height: 100%;
  background: var(--accent-color);
  background-size: 400% 400%;
  border-radius: var(--border-radius);
  transition: ease width 0.5s;
  animation: pulse 5s linear infinite;
}

/* Animation douce de la barre */
@keyframes pulse {
    0% {
        background-position: 100% 0%
    }
    100% {
        background-position: 15% 100%
    }
}

/* Footer */
#goal-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  font-size: 24px;
}

/* Ajustement dynamique OBS */
@media (max-width: 480px) {
  #goal-container {
    width: 90%;
    padding: 10px;
  }
  
  #goal-header, #goal-footer {
    font-size: 14px;
  }
}
